@keyframes slideMove {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadecolor {
    0% {
        border-bottom-color: #eee;
    }

    100% {
        border-bottom-color: #67cbf0;
    }
}